version: '3.8'

services:
  app:
    container_name: frontend-dc-church
    build:
      context: .
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    command: npm run start
    restart: always


